ion-toolbar {
  background-color: var(--ion-color-favorite);
}

ion-button {
  background: var(--ion-color-favorite);
  color: var(--ion-color-favorite-contrast);
  border-radius: 30px;
  margin-top: 1rem;
}