
<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home']" routerLinkActive="tab-active">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/informacion']" routerLinkActive="tab-active">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/contacto']" routerLinkActive="tab-active">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>





